@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.css";
:root {
  --background: #b5aba2cc;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  color: var(--foreground);
  background: url("../../public/bgImage.svg");
  background-color: #b5aba2cc;
  /* font-family: ; */
}

.custom-scroll-hide::-webkit-scrollbar {
  display: none;
}
.custom-scroll-hide {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}
